header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  color: var(--white);
}

header h1 {
  align-self: center;
  font-family: DeadBamboo;
  font-size: 6rem;
  text-align: center;
}

main {
  padding: 64px 32px;
}
