.fade {
  width: 100vw;
  position: absolute;
  top: 0;
  animation: fadeBlack 5s linear;
  background-image: url('../assets/underwater.jpg');
  background-size: contain;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  color: var(--white);
}

header h1 {
  align-self: center;
  font-family: DeadBamboo;
  font-size: 6rem;
  text-align: center;
}

main {
  padding: 64px 32px;
}

@keyframes fadeBlack {
  0% {
    height: max(100%, 400vh);
  }

  10% {
    height: max(100%, 400vh);
    filter: brightness(20%);
  }

  70% {
    height: max(100%, 400vh);
    filter: brightness(0);
  }

  100% {
    height: max(100%, 400vh);
    filter: brightness(200%);
  }
}

@media (max-width: 1024px) {
  header h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 600px) {
  header {
    padding: 16px;
  }

  header h1 {
    font-size: 3rem;
  }

  main {
    padding: 32px 16px;
  }
}
