.card-wrapper {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 8px;
  border: 8px solid var(--orange);
  border-radius: 5px;
  background-color: var(--black);
  color: var(--yellow);
}

.card-wrapper img {
  height: 218px;
  width: auto;
  border-radius: 5px;
}

.card-wrapper p {
  font-family: DeadBamboo;
  font-size: 2.5rem;
  font-weight: 900;
}
